.visible {
  display: block !important;
}
.hidden {
  display: none !important;
}

.visible_operation_box {
  width: 100%;
}

.header {
  background: #fff;
  position: relative;
  height: 60px;
  width: 100%;
  transition: transform 0.15s ease;
  z-index: 2;
  .container {
    background-color: white;
    .row {
      justify-content: space-between;
      .logoArea {
        opacity: 1;
        visibility: visible;
        transition: opacity 0.4s, visibility 0s;
        a {
          .logo {
            height: 59px;
            width: 59px;
            margin: 1px 0;
            &:hover {
              filter: invert(44%) sepia(2%) saturate(20%) hue-rotate(326deg)
                brightness(101%) contrast(86%);
            }
          }
        }
      }
      .navBarArea {
        width: 90%;
        margin-left: 50px;
        .navBar {
          .navList {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            max-width: 1255px;
            gap: 20px;
            .navItem {
              cursor: pointer;
              &:hover {
                color: #757575;
                border-bottom: 2px solid #000;
                padding-bottom: 18px;
                padding-top: 18px;
                .submenu_container {
                  transform: scaleY(1);
                  opacity: 1;
                  visibility: visible;
                  transition: transform 0.25s ease, opacity 0ms, visibility 0ms;
                }
              }
              .submenu_container {
                width: 100%;
                position: absolute;
                top: 60px;
                left: 0;
                right: 0;
                transition: transform 0.1s ease, opacity 0ms linear 0.1s,
                  visibility 0ms linear 0.1s;
                transform-origin: top center;
                transform: scaleY(0);
                white-space: nowrap;
                opacity: 0;
                visibility: hidden;
                height: 680vh;
                overflow: auto;
                background-color: rgba(0, 0, 0, 0.36);
                backdrop-filter: blur(4px);
                .submenu {
                  width: 100%;
                  display: flex;
                  background-color: white;
                  justify-content: center;
                  gap: 80px;
                  padding: 40px;
                  transition: all ease 0.1s;
                  ul {
                    li {
                      margin-bottom: 14px;
                      &:nth-child(1) {
                        a {
                          color: #111;
                          margin-bottom: 14px;
                          font-weight: 400;
                          font-size: 17px;
                          line-height: 1.5;
                        }
                      }
                      a {
                        font-size: 14px;
                        line-height: 20px;
                        color: #757575;
                        transition: all ease 0.4s;
                        &:hover {
                          color: #111;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
      .mobileMenu {
        display: none;
        position: absolute;
        right: 21px;
        top: 25%;
        button {
          cursor: pointer;
          background-color: transparent;
          outline: none;
          border: none;
          .hamburgerMenu {
            width: 30px;
            height: 30px;
          }
        }
      }
      .operation {
        padding-top: 12px;
        display: flex;
        gap: 30px;
        transition: background 10ms, height 0.15s, width 0.15s;
        .searchBox {
          width: 100%;
          .inputBox {
            position: relative;
            transition: width 0.25s ease, transform 0.25s ease;
            .searchBtn {
              width: 35px;
              height: 35px;
              border: 0;
              outline: 0;
              background-color: transparent;
              text-align: center;
              position: absolute;
              top: 2px;
              left: 2px;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                border-radius: 50%;
                background: #e5e5e5;
              }
              .search {
                width: 24px;
                height: 24px;
                color: #111;
                display: flex;
                align-items: center;
                background: transparent;
                cursor: pointer;
              }
            }
            input {
              border-radius: 100px;
              height: 40px;
              border: 0;
              visibility: visible;
              width: 85%;
              background: #f5f5f5;
              color: inherit;
              padding: 8px 0;
              cursor: text;
              outline: 0;
              padding-left: 40px;
              &::placeholder {
                padding-left: 5px;
                font-size: 17px;
                color: #c8c8c8;
              }
              &:hover {
                background: #e5e5e5;
                &::placeholder {
                  color: #9e9e9e;
                }
              }
            }
          }
          .cancelBtn {
            z-index: 5;
            position: absolute;
            display: none;
            top: 20px;
            right: 43px;
            background: transparent;
            outline: none;
            border: none;
            cursor: pointer;
            font-size: 17px;
          }
          .searchResultsBox {
            max-width: 1920px;
            margin: auto;
            width: 100%;
            .searchResults {
              max-width: 656px;
              width: 100%;
              padding: 46px;
              transform: translateY(0);
              transition: all 0.65s;
              p {
                opacity: 1;
                transform: translateY(0);
                transition: opacity 0.35s 0.4s, visibility 0.35s 0.4s,
                  transform 0.25s ease 0.35s;
                padding-bottom: 16px;
                color: #757575;
              }
              a {
                color: #000;
                transition: opacity 0.45s 0.5s, visibility 0.45s 0.5s,
                  transform 0.45s ease 0.3s;
                font-size: 20px;
                line-height: 1.2;
                transform: translateY(0);
                margin-bottom: 12px;
              }
            }
            .overlay {
              position: absolute;
              top: 100%;
              bottom: 0;
              left: 0;
              right: 0;
              background-color: rgba(0, 0, 0, 0.36);
              backdrop-filter: blur(4px);
              opacity: 1;
              height: 680vh;
              visibility: visible;
              z-index: -1;
            }
          }
        }
        .operationIconsArea {
          display: flex;
          align-items: baseline;
          .operationBtn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            border: 0;
            outline: 0;
            background-color: white;
            text-align: center;
            &:hover {
              border-radius: 50%;
              background: #e5e5e5;
            }
            .operationIcons {
              width: 24px;
              height: 24px;
              cursor: pointer;
              color: rgba(0, 0, 0, 0.54);
            }
          }
        }
      }
    }
  }
}

//Responsiveness

@media (max-width: 960px) {
  .header {
    .container {
      .row {
        .navBarArea {
          display: none;
        }
        .mobileMenu {
          display: block;
          button {
            cursor: pointer;
            background-color: transparent;
            outline: none;
            border: none;
            .hamburgerMenu {
              width: 30px;
              height: 30px;
            }
          }
        }
        .operation {
          .searchBox {
            margin-right: 15px;
            .inputBox {
              input {
                display: none;
              }
            }
          }
          .operationIconsArea {
            gap: 10px;
            .operationBtn {
              &:nth-child(1) {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
