.hero {
  background-color: transparent;
  text-align: center;
  margin-top: 50px;
  .aboutPart {
    .subtitle {
      margin-bottom: 4px;
      font-size: 16px;
      line-height: 1.5;
    }
    h1 {
      font-weight: 900;
      margin-top: 8px;
      font-size: 72px;
      line-height: 90px;
    }
    .heroInfo {
      margin-top: 24px;
      font-size: 20px;
      line-height: 28px;
    }
    .heroBtnBox {
      display: flex;
      gap: 8px;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
      a {
        padding: 6px 20px;
        border-radius: 30px;
        border: 1.5px solid transparent;
        align-items: center;
        background: #111;
        color: #fff;
        font-size: 16px;
        line-height: 24px;
        transition: color .5s ease-out;
        &:hover{
            background: #757575;
        }
      }
    }
  }
}
