.page_404 {
  padding: 40px 0;
  background: #fff;
  font-family: "Arvo", serif;
  .container {
    .title {
      display: flex;
      justify-content: center;
      h2 {
        font-size: 40px;
      }
    }
    .row {
      align-items: center;
      justify-content: center;
      .col-sm-12 {
        width: 100%;
        img {
          width: 100%;
        }
        .four_zero_four_bg {
          background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
          height: 400px;
          background-position: center;
        }
        .contant_box_404 {
          display: flex;
          align-items: center;
          flex-direction: column;
          p {
            font-size: 27px;
          }
          .link_404 {
            color: #fff !important;
            padding: 10px 20px;
            background: #39ac31;
            margin: 50px 0;
            display: inline-block;
          }
        }
      }
    }
  }
}
