.isActive{
  border: 2px solid black;
}

.productDetails {
  margin-top: 50px;
  margin-bottom: 50px;
  .container {
    .row {
      justify-content: space-around;
      .productImg {
        position: relative;
        width: auto;
        height: auto;
        img {
          border-radius: 10px;
          width: 100%;
          height: 100%;
        }
        .scoreBox {
          padding: 0 25px;
          height: 40px;
          border-radius: 40px;
          font-size: 14px;
          background: rgb(255, 255, 255);
          position: absolute;
          top: 30px;
          left: 30px;
          display: flex;
          gap: 5px;
          align-items: center;
          .starIcon {
            margin-bottom: 3px;
            height: 15px;
            width: 15px;
          }
        }
      }
      .hiddenTop {
        display: none;
        h6 {
          color: orangered;
          font-size: 17px;
          font-weight: 400;
        }
        h5 {
          font-size: 25px;
          font-weight: 400;
          margin-top: 5px;
          margin-bottom: 5px;
        }
        p {
          font-size: 17px;
          margin-bottom: 20px;
        }
        span {
          font-size: 17px;
        }
      }
      .aboutProduct {
        overflow-y: scroll;
        height: 600px;
        &::-webkit-scrollbar {
          overflow: hidden;
        }
        .top {
          h6 {
            color: orangered;
            font-size: 17px;
            font-weight: 400;
          }
          h5 {
            font-size: 25px;
            font-weight: 400;
            margin-top: 5px;
            margin-bottom: 5px;
          }
          p {
            font-size: 17px;
            margin-bottom: 20px;
          }
          span {
            font-size: 17px;
          }
        }
        .middle {
          .chooseNumber {
            display: flex;
            gap: 55px;
            font-size: 17px;
            a {
              color: #707072;
            }
          }
          .sizesBox {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 7px;
            margin-top: 8px;
            width: 90%;
            .sizes {
              width: 80%;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              box-shadow: rgb(229, 229, 229) 0px 0px 0px 1px;
              height: 48px;
              border-radius: 4px;
            }
          }
          .operationBtn {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            width: 376px;
            .addCart {
              background-color: #000;
              width: 100%;
              color: #fff;
              height: 60px;
              border-radius: 40px;
              outline: none;
              border: 0;
              font-size: 17px;
              margin-bottom: 10px;
              cursor: pointer;
              &:hover {
                background-color: #707072;
              }
            }
            .addToFavorite {
              cursor: pointer;
              background-color: #fff;
              width: 100%;
              color: #000;
              height: 60px;
              border-radius: 40px;
              outline: none;
              font-size: 17px;
              margin-bottom: 10px;
              border: 1px solid rgb(196, 196, 196);
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 10px;
              &:hover {
                border: 1px solid #000;
              }
              .heart {
                width: 13px;
                height: 24px;
              }
            }
          }
        }
        .bottom {
          width: 456px;
          .adminMessage {
            background: rgb(245, 245, 245);
            border-radius: 4px;
            line-height: 1.6em;
            margin-bottom: 36px;
            margin-top: 36px;
            padding-left: 24px;
            padding-top: 24px;
            padding-bottom: 12px;
          }
          .productInfo {
            padding-top: 24px;
            padding-right: 62px;
            padding-left: 24px;
            p {
              font-size: 18px;
              font-weight: 300;
              line-height: 1.75;
            }
          }
        }
      }
    }
  }
}

//Responsiveness

@media (max-width: 1024px) {
  .productDetails {
    .container {
      .row {
        gap: 40px;
        .productImg {
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .productDetails {
    .container {
      .row {
        flex-direction: column;
        .productImg {
          width: 100%;
          height: 100%;
        }
        .hiddenTop {
          display: block;
          margin-bottom: 40px;
        }
        .aboutProduct {
          height: 1000px;
          margin-top: 50px;
          overflow-y: auto;
          .top {
            display: none;
          }
          .middle {
            .sizesBox {
              width: 100%;
            }
            .operationBtn {
              width: 100%;
            }
          }
          .bottom {
            width: 100%;
            .productInfo {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
