.bottomHeader {
  display: none;
}

.register {
  .container {
    .row {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 28px;
      .top {
        display: flex;
        flex-direction: column;
        font-family: Helvetica;
        font-size: 14px;
        padding: 0 28px;
        .logo {
          img {
            height: 17px;
            margin: 0 auto;
            display: flex;
            margin-bottom: 30px;
          }
        }
        .title {
          font-family: TradeGothicforNike365-BdCn, Helvetica !important;
          font-size: 20px;
          line-height: 26px;
          text-align: center;
          font-weight: 600;
          margin-bottom: 30px;
        }
        .info {
          padding-bottom: 15px;
          font-family: HelveticaNeue, Helvetica !important;
          line-height: 22px;
          text-align: center;
          max-width: 40ch;
          color: #8d8d8d;
        }
      }
      .middle {
        width: 25%;
        form {
          .userBox {
            input,
            select {
              margin: 8px 0;
              outline: none;
              background-color: #fff;
              border: 1px solid #e5e5e5;
              border-radius: 3px;
              box-sizing: border-box;
              color: #8d8d8d;
              font: 14px Helvetica;
              height: 40px;
              line-height: 17px;
              padding: 0 16px;
              width: 100%;
            }
            p {
              text-align: center;
              padding: 7px 0 8px;
              font-size: 12px;
              color: #8d8d8d;
            }
          }
          .gender {
            display: flex;
            button {
              margin-right: 5%;
              background-color: #fff;
              border: 1px solid #e5e5e5;
              border-radius: 3px;
              box-sizing: border-box;
              font: 14px Helvetica;
              height: 40px;
              line-height: 17px;
              width: 100%;
              align-items: center;
              display: flex;
              justify-content: center;
              p {
                color: #8d8d8d;
              }
            }
          }
        }
      }
      .bottom {
        .checkBox {
          font-size: 12px;
          padding-left: 34px;
          position: relative;
          max-width: 60ch;
          margin: 20px auto;
          display: flex;
          color: #8d8d8d;
          input {
            margin-right: 10px;
          }
        }
        .signUp {
          p {
            text-align: center;
            margin: 20px auto;
            font-size: 12px;
            line-height: 16px;
            padding: 3px 0 24px;
            max-width: 42ch;
            color: #8d8d8d;
            cursor: pointer;
            span {
              text-decoration: underline;
            }
          }
        }
      }
      .operation {
        margin: 5px 0;
        button {
          background-color: #000;
          border: 1px solid #000;
          border-radius: 3px;
          color: #fff;
          cursor: pointer;
          display: block;
          font-family: TradeGothicforNike365-BdCn, Helvetica !important;
          font-size: 15px;
          margin: auto;
          width: 100%;
          padding: 12px;
        }
      }
      .membership {
        p {
          font-size: 12px;
          line-height: 14px;
          padding: 10px 0 0;
          text-align: center;
          color: #8d8d8d;
          a {
            font-size: 12px;
            color: #111;
            text-decoration: underline;
          }
        }
      }
    }
  }
}
