.resetPassword {
  .container {
    .row {
      align-items: center;
      justify-content: center;
      flex-direction: column;
      padding: 28px;
      .resetPasswordEnter {
        margin: 0 auto;
        .logo {
          img {
            height: 17px;
            display: flex;
            margin-bottom: 30px;
          }
        }
      }
      form {
        width: 20%;
        .userBox {
          input {
            margin: 5px 0;
            outline: none;
            background-color: #fff;
            border: 1px solid #e5e5e5;
            border-radius: 3px;
            box-sizing: border-box;
            color: #8d8d8d;
            font: 14px Helvetica;
            height: 40px;
            line-height: 17px;
            padding: 0 16px;
            width: 100%;
          }
          span {
            color: red;
          }
        }
        .btnBox {
          margin-top: 20px;
          button {
            margin-top: 20px;
            outline: 0;
            border: 0;
            background-color: #000;
            border-radius: 3px;
            color: #fff;
            cursor: pointer;
            display: block;
            font-family: TradeGothicforNike365-BdCn, Helvetica !important;
            font-size: 15px;
            margin: 0 auto;
            width: 85%;
            padding: 12px;
            &:hover {
              background-color: #757575;
            }
          }
        }
      }
    }
  }
}
